<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if current_user %>
      <p>Welcome <%= current_user.email %> </p>
    <% else %>
      <%= link_to "Sign in with Github", user_github_omniauth_authorize_path %>
      <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <% end %>
    

  </nav>

<%= yield %>

</body>
</html>
